@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

/* Colors */
$roselyn: #DDAE9A;
$roselyn-light: #FFD7C5;
$roselyn-lighter: #fbece5;
$roselyn-lightest: #fcf6f3;
$white: #ffffff;
$gray: #808080;
$dark: #0a0a0a;
$light: #f8f9fa;
$gray-light: #e9ecef;
$brown: #7a5c4f;
$blue-marine: #587291;
$blue-marine-darker: #3c4c61;

/* Tipografia */
$open-sans: 'Open Sans', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;